<!DOCTYPE html>
<html>
    <!--head-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/index.css">
        <script src="http://d3js.org/d3.v7.min.js" charset="utf-8"></script>
    </head>
    <!--end head-->
    <!--body-->
    <body>
        <!--header-->
        <header>
            <title>Paid v.s. Free Android Applications on Google Play Store</title>
        </header>
        <!--header-->
        <!--nav-->
        <nav class="navbar sticky-top navbar-light bg-light">
            <a class="navbar-brand" href="index.html">HOME</a>
        </nav>
        <!--end nav-->
        <!--main body-->
        <div class="my-main-container container-fluid">
            <div class="row my-row">
            </div>
              <script type="text/javascript">
              var files = ["free_high_rated_apps_ad_supported_TRUE_in-app_purchases_FALSE",
                            "free_high_rated_apps_last_updated_2020",
                            "free_high_rated_apps_last_updated_2021",
                            "free_high_rated_apps_minimum_android_4",
                            "paid_high_rated_apps_size_131",
                            "paid_high_rated_apps_price_127",
                            "paid_high_rated_apps_last_update_2021",
                            "paid_high_rated_apps_last_update_2021_content_rating_everyone",
                            "paid_high_rated_apps_minimum_android_4",
                            "paid_high_rated_apps_min_android_4_content_rating_everyone"];
                for(let f = 0; f < files.length; f++){
                    d3.csv("../../data/patterns data points/"+ files[f] + ".csv")
                    .then(function(data) {
                        visualize_category(data, files[f], 1);
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
                }
                var patterns_files = ["Last_Update_2021", "Minimum_Android_4"]
                for(let p = 0; p < patterns_files.length; p++){
                    d3.csv("../../data/patterns data points/" + patterns_files[p] + ".csv")
                    .then(function(data) {
                        visualize_pattern(data, patterns_files[p]);
                    })
                    .catch(function(error) {
                        console.log(error);
                    });
                }
              </script>
        </div>
        <!--end main body-->
        <!--footer-->
        <div class="card text-center">
            <div class="card-body">
                <p>Copy Right ©  2021. All Rights Reserved</p>
            </div>
        </div>
        <!--end footer-->
        <!--scripts-->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
        <script src= "../static/js/vis.js" defer></script>
    </body>
    <!--end body-->
</html>