<!DOCTYPE html>
<html>
    <!--head-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/index.css">
        <script src="http://d3js.org/d3.v7.min.js" charset="utf-8"></script>
    </head>
    <!--end head-->
    <!--body-->
    <body>
        <!--header-->
        <header>
            <title>Paid v.s. Free Android Applications on Google Play Store</title>
        </header>
        <!--header-->
        <!--nav-->
        <nav class="navbar sticky-top navbar-light bg-light">
            <a class="navbar-brand" href="index.html">HOME</a>
        </nav>
        <!--end nav-->
        <!--main body-->
        <div class="my-main-container container-fluid">
            <script type="text/javascript">
                d3.csv("../../data/free_installs110.csv")
                  .then(function(data) {
                    console.log("success in getting data");
                    visualize(data);
                  })
                  .catch(function(error) {
                    console.log(error);
                  });
                  d3.csv("../../data/price1_installs110.csv")
                  .then(function(data) {
                    console.log("success in getting data");
                    visualize(data);
                  })
                  .catch(function(error) {
                    console.log(error);
                  });
              </script>
              <div class="card my-card">
                <div class="card-body">
                  <h5 class="card-title">Pie Chart 1</h5>
                  <svg id="my-svg" class = "col-xl-6 col-lg-6 col-md-6 col-sm col-xs vis-col"></svg>
                  <a href="#" class="btn btn-primary">more</a>
                </div>
              </div>
              </svg>
        </div>
        <!--end main body-->
        <!--footer-->
        <div class="card text-center">
            <div class="card-body">
                <p>Copy Right ©  2021. All Rights Reserved</p>
            </div>
        </div>
        <!--end footer-->
        <!--scripts-->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
        <script src= "../static/js/vis.js" defer></script>
    </body>
    <!--end body-->
</html>